body {
    font-family: 'Roboto', sans-serif;
    @include font(normal, 12px, 500, 16px, normal);
    color: $primary-text-color; 
    background-color: $primary-background-color;
}

main {
    margin-bottom: 100px;
    @media screen and (min-width: 768px) {
        margin-bottom: 79px;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 77px;
    }
}