// текстові кольори
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$additional-text-color: #8c8c8c;
$footer-text-color: #545454;
$error-text-color: #ff001b;

// акцентні кольори
$primary-accent-color: #ff6b08;
$secondary-accent-color: #ff6b01;

// фонові кольори
$background-hero-color: rgba(0, 0, 0, 0.56);
$modal-wrapper-color: rgba(0, 0, 0, 0.25);
$background-main-color: #ffffff;
$background-secondary-color: #f7f7f7;