// текстові кольори
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$additional-text-color: #8c8c8c;
$footer-text-color: #545454;
$error-text-color: #ff001b;

// акцентні кольори
$primary-accent-color: #ff6b08;
$secondary-accent-color: #ff6b01;

// фонові кольори
$primary-background-color: #ffffff;
$secondary-background-color: #f7f7f7;
$hero-background-color: rgba(0, 0, 0, 0.56);
$modal-wrapper-color: rgba(0, 0, 0, 0.25);

// анімація
$primary-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);