<div class="backdrop backdrop--card is-hidden">
    <div class="card-modal">
        <button type="button" class="card-modal__button-close">
            <svg class="card-modal__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <img class="card-modal__banner" src="images/team/default.jpg" alt="">
        <div class="card-modal__discription-box">
            <button type="button" class="card-modal__button-add-watched">add to Watched</button>
            <button type="button" class="card-modal__button-add-queue">add to queue</button>
            <button type="button" class="modal-film__play-btn">Play</button>
        </div>   
    </div>
</div>