<div class="backdrop backdrop--card is-hidden">
  <div class="card-modal">
    <button type="button" class="card-modal__button-close">
      <svg class="card-modal__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="card-modal__container">
      <!-- RENDER -->
    </div>
    <div class="card-modal__button-box">
      <button
        type="button"
        id="watchedBtn"
        class="card-modal__button-add card-modal__button-add--size"
      >
        add to watched
      </button>
      <button type="button" id="queueBtn" class="card-modal__button-add">add to queue</button>
    </div>
  </div>
</div>
