<header class="library" id="background">
    <div class="container">
      <div class="header__wrapper">
        <button class="header__logo" type="button">
          <svg class="header__logo--img">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
          <span class="header__title">filmoteka</span>
        </button>
        <nav class="header__navigation">
          <button class="header__navigation--home-btn" type="button" id="home">home</button>
          <button class="header__navigation--library-btn current" type="button" id="library">my library</button>
        </nav>
      </div>
      <div class="but__container">
        <button class="button__library btn__style library__current" type="button" id="watched">WATCHED</button>
        <button class="button__library btn__style" type="button" id="queue">QUEUE</button>
      </div>
      <div class="jsNone" id="input">
      <form class="header__form ">
        <input
          class="header__form--input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Поиск фильмов"
        />
        <button class="header__form--button" type="submit">
          <svg class="header__form--img">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      </div>
      <div class="auth">
        <ul class="auth__list">
          <li class="auth__list-item">
            <button type="button" id="openSignInForm" class="header__autorisation-btn">
              sign in
            </button>
          </li>
  
          <li class="auth__list-item">
            <button type="button" id="openRegisterForm" class="header__autorisation-btn">
              sign up
            </button>
          </li>
          <li class="auth__list-item">
            <button type="button" id="signOutBtn" class="header__autorisation-btn visually-hidden">
              sign out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </header>