<header>
  <div class="header scroll" id="background">
    <div class="container header__container">
      <div class="header__wrapper">
        <a href="" class="header__logo">
            <svg class="header__logo--img">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="header__logo--text">filmoteka</span>
          </a>
        <nav class="header__navigation">
          <a href="" class="header__navigation--home-btn current" id="home">Home</a>
          <a href="" class="header__navigation--library-btn disabled" id="library">My Library</a>
        </nav>
        <button class="header__toggle">
          <svg class="header__toggle--day-img visually-hidden">
            <use href="./images/sprite.svg#icon-day"></use>
          </svg>
          <svg class="header__toggle--night-img">
            <use href="./images/sprite.svg#icon-night"></use>
          </svg>
        </button>
      </div>
      <div class="but__container visually-hidden">
        <button class="button__library btn__style library__current" type="button" id="watched">WATCHED</button>
        <button class="button__library btn__style " type="button" id="queue">QUEUE</button>
      </div>
      <div class="" id="input">
      <form class="header__form ">
        <input
          class="header__form--input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search movies"
        />
        <button class="header__form--button" type="submit" disabled>
          <svg class="header__form--img">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <p class="header__alert visually-hidden">Search result not successful. Enter the correct movie name and try again.</p>
      </div>
      <div class="auth">
        <ul class="auth__list">
          <li class="auth__list-item">
            <button type="button" id="openSignInForm" class="header__autorisation-btn">
              sign in
            </button>
          </li>
  
          <li class="auth__list-item">
            <button type="button" id="openRegisterForm" class="header__autorisation-btn header__autorisation-btn--sign-up">
              sign up
            </button>
          </li>
          <li class="auth__list-item">
            <button type="button" id="signOutBtn" class="header__autorisation-btn visually-hidden">
              sign out
            </button>
          </li>
        </ul>
      </div>
    </div>
    </div>
     <div class="progress-container">
    <div class="progress-bar " id="myBar"></div>
</header>