<div class="backdrop is-hidden">
    <div class="modal-team">
        <button type="button" class="close__modal-team">
            <svg class="close__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-team__title visually-hidden">To Do Team congratulates you here</h2>
        <ul class="team">
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg" alt="Olha Rosiak" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Olha <br>Rosiak</h3>
                    <p lang="en" class="team__desc">Team Lead</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/oliarosiak" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.linkedin.com/in/olia-rosiak/" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg"
                    alt="Stanislav Protashchuk" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Stanislav <br>Protashchuk</h3>
                    <p lang="en" class="team__desc">Scrum Master</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/StanislavProtashchuk" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.linkedin.com/in/stanislav-protashchuk-317325226/" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/Ivanytskyi.jpg"
                    alt="Oleh Ivanytskyi" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Oleh <br>Ivanytskyi</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/ivanytskyi2407" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.linkedin.com/in/oleh-ivanytskyi-6b54851a0/" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/Hembarska.jpg" alt="Oleksandra Hembarska" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Oleksandra <br>Hembarska</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/Oleksandra9" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/Hrytsyshyn.jpg" alt="Vasyl Hrytsyshyn" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Vasyl <br>Hrytsyshyn</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/VasylHrytsyshyn" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg"
                    alt="Marta Tsiruh" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Marta <br>Tsiruh</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/martatsiruh" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg"
                    alt="Oleksandr Lokshuk" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Oleksandr <br>Lokshuk</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/12Sasha21" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg"
                    alt="Oksana Khmil" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Oksana <br>Khmil</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/Oksana-Khmil" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg"
                    alt="Mykola Havryliuk" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Mykola <br>Havryliuk</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/nik-349" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/default.jpg"
                    alt="Oleksandr Boliachevets" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Oleksandr <br>Boliachevets</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/Schamotnic" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="/images/team/Radkovska.jpg"
                    alt="Iryna Radkovska" width="300">
                <div class="team__content">
                    <h3 lang="en" class="team__title">Iryna <br>Radkovska</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="https://github.com/Akrisia" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.linkedin.com/in/iryna-radkovska-343698159/" class="socials__link">
                                <svg class="socials__icon" width="25" height="25">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>