<div class="backdrop is-hidden">
    <div class="modal-team">
        <button type="button" class="close__modal-team">
            <svg class="close__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-team__title visually-hidden">To Do Team congratulates you here</h2>
        <ul class="team">
            <li class="team__item">
                <img class="team__image" src="https://cdn.pixabay.com/photo/2017/10/05/22/55/anonymous-2821433_960_720.jpg" alt="Superhero" width="300">
                <div class="team__content">
                    <h3 class="team__title">Superhero</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="https://cdn.pixabay.com/photo/2017/10/05/22/55/anonymous-2821433_960_720.jpg"
                    alt="Superhero" width="300">
                <div class="team__content">
                    <h3 class="team__title">Superhero</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <img class="team__image" src="https://cdn.pixabay.com/photo/2017/10/05/22/55/anonymous-2821433_960_720.jpg"
                    alt="Superhero" width="300">
                <div class="team__content">
                    <h3 class="team__title">Superhero</h3>
                    <p lang="en" class="team__desc">Developer</p>
                    <ul class="team__socials">
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__link">
                                <svg class="socials__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>