.backdrop-team {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: $modal-wrapper-color;
  opacity: 1;
  transition: opacity $primary-animation, visibility $primary-animation;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: $modal-wrapper-color;
  opacity: 1;
  transition: opacity $primary-animation, visibility $primary-animation;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
