.wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper__dark {
    background-color: $primary-text-color;

    & .card__name {
        color: $secondary-text-color;
    }
    & .tui-page-btn {
        background: linear-gradient(117deg, rgb(226, 222, 222) 30%, rgb(156, 156, 154) 70%);
        border-radius: 5px;
    }
    & .modal-team,
    & .card-modal {
        background: linear-gradient(117deg, rgb(226, 222, 222) 30%, rgb(156, 156, 154) 70%);
    }
    & .card-modal__button-add {
    background-color: transparent;
    }
}