.card-modal {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 280px;
    height: 92vh;
    overflow-y: scroll;
    transform: translate(-50%, 0) scale(1);
    transition: transform $primary-animation,
    opacity $primary-animation;
    background-color: $primary-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 320px) {
        width: 280px;
    }
    @media screen and (min-width: 768px) {
        top: 10%;
        width: 704px;
        height: 550px; 
    }
    @media screen and (min-width: 1024px) {
        top: 10%;
        width: 814px;
        height: 570px;  
    }
}

.card-modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px; 
    background-color: transparent;
    transition: fill $primary-animation;
    &:hover,
    &:focus {
        fill: $primary-accent-color;
    }
}

.card-modal__container {
    padding-top: 48px;
    padding-left: 20px;
    // padding-bottom: 40px;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
        display: flex;
        padding-top: 48px;
        padding-left: 20px;
        // padding-bottom: 40px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1024px) {  
        padding-top: 40px;
        padding-left: 16px;
        padding-bottom: 40px;
        padding-right: 16px;
    }
}

.card-modal__image-box {
    position: relative;
    width: 240px;
    height: 357px;
    @media screen and (min-width: 768px) {
        width: 264px;
    height: 373px;
    }
    @media screen and (min-width: 1024px) {
        width: 375px;
    height: 478px;
    }
}

.card-modal__banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-modal__information-box {
    margin-top: 20px;
    width: 240px;
    @media screen and (min-width: 768px) {
        margin-left: 68px;
        margin-top: 0px;
        width: 264px;
    }
    @media screen and (min-width: 1024px) {
        margin-left: 16px;
        width: 391px;
        
    }
}

.card-modal__title {
    margin-bottom: 20px;
    @include font(normal, 20px, 500, 23px, normal);
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
        @include font(normal, 30px, 500, 35px, normal);
        
    }
}

.card-modal__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;
}

.card-modal__wrapper:last-of-type {
    margin-bottom: 0px;
}

.card-modal__wrapper-category {
    @include font(normal, 12px, 500, 16px, normal);
    color:$additional-text-color;
}

.card-modal__wrapper-value {
    @include font(normal, 12px, 500, 14px, normal);
    text-transform: uppercase;
}

.card-modal__wrapper-value--size {
    text-transform: none; 
}

.card-modal__wrapper-value--color {
    background-color:$secondary-accent-color;
    color: $secondary-text-color;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.card-modal__about-title {
    margin-top: 20px;
    margin-bottom: 8px;
    text-transform: uppercase;
    @include font(normal, 12px, 500, 16px, normal);
}

.card-modal__about-text {
    @include font(normal, 12px, 500, 20px, normal);
    
}

.card-modal__button-box {
    margin-top: 20px;
    display: flex;  
    padding-left: 20px; 
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
    padding-left: 350px; 
    }
    @media screen and (min-width: 1024px) {
    position: absolute;
    left: 50px;
    bottom: 50px;   
    }
}

.card-modal__button-add--size {
    margin-right: 20px;
    padding: 6px 27px 6px 27px;
    @media screen and (min-width: 768px) {
        padding: 0px; 
    } 
}

.card-modal__button-add {
    width: 110px;
    height: 44px;
    @include font(normal, 12px, 500, 16px, normal);
    border: 1px solid $primary-text-color;
    background-color:$secondary-text-color;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color  $primary-animation, color $primary-animation;
    &:hover,
    &:focus {
        background-color: $primary-accent-color;
        color: $secondary-text-color;
        border: none;
    }
    @media screen and (min-width: 768px) {
        width: 125px;
    }
    @media screen and (min-width: 1024px) {
        width: 136px;
    } 
}



