.film-list {
    // margin-bottom: 0;
    padding-left: 0;
    // padding-top: 20px; // видалити має бути margin-bottom: 20px від жедера
    margin-bottom: 40px;
    list-style-type: none;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        // padding-top: 60px; // видалити має бути margin-bottom: 60px від жедера
        margin-bottom: 60px;

        margin-left: -16px;
        margin-right: -16px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: -9px;
        margin-right: -9px;
    }
}