.footer-section{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   justify-content: center;
   padding: 30px 0 ;
   display: flex;
   background-color:$secondary-background-color;
}

.footer-link{
   text-decoration-line: underline;
   background-color:$secondary-background-color;   
   &:hover{
      color: $primary-accent-color;
   }
}

.footer__text-right{
   margin-right: 4px;
}

.footer-link,
.footer__text{
   color: $footer-text-color ;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.14;
   // display: flex;
   align-items: center;
   text-align: center;
   @media screen and (min-width: 768px){
      font-size: 16px;
      line-height: 1.19;
   }
}

.box-text{
   @media screen and (min-width: 768px) {  
      padding-top: 0px;   
      margin-left: 4px;
   }
   padding-top: 10px;
   display: flex;
   align-items: center;
   margin-left: 4px;
}

.footer__logo{
   margin-left: 10px;
   margin-right: 10px;
   
   animation-name: changeSize;
   animation-duration: 3500ms;
   animation-timing-function: linear; 
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.footer-box{
   @media screen and (min-width: 768px) {
      display: flex;
  }   
}

@keyframes changeSize {
   0% {     
      fill: $primary-accent-color;  
   }   

   50% {
      fill: $primary-background-color;
   }

   100% {  
      fill: $footer-text-color;
   }
}