.modal-team {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    width: 280px;
    transform: translate(-50%, 0) scale(1);
    transition: transform $primary-animation,
        opacity $primary-animation;
    padding: 48px 20px 40px 20px;
    background-color: $primary-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 320px) {
        width: 280px;
        
    }

    @media screen and (min-width: 768px) {
        width: 704px;
        margin-top: 219px;
        padding: 40px 36px;
    }

    @media screen and (min-width: 1024px) {
        width: 800px;
        margin-top: 151px;
        padding: 40px 16px;
    }
}

.backdrop {
    &.is-hidden {
        .modal {
            transform: translate(-50%, 0) scale(0.9);
            opacity: 0;
        }
    }
}

.close__modal-team {
    position: absolute;
    @include centeredFlex($type: flex);

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background-color: transparent;
    stroke: $primary-text-color;

    transition: stroke $primary-animation;

    &:hover,
    &:focus {
        stroke: $primary-accent-color;
    }
}

.team {
    margin-bottom: calc(-1 * 32px);

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * 32px);
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * 32px);
    }
}

.team__item {
    width: 100%;
    margin-bottom: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 32px);
        margin-left: 32px;
    }

    @media screen and (min-width: 1024px) {
        flex-basis: calc(100% / 3 - 32px);
    }
}

.team__image {
border-radius: 5px 5px 0 0;
}

.team__content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.team__desc {
    text-align: center;
    margin-bottom: 20px;

    @include font(normal, 16px, 500, 23px, auto);
}

.team__title {
    @extend .team__desc;
    font-size: 20px;
    color: $primary-accent-color;
}

.team__socials {
    display: flex;
    justify-content: center;
}

.socials__item {
    width: 44px;
    height: 44px;

    &:not(:first-child) {
        margin-left: 20px;
    }
}

.socials__link {
    @include centeredFlex($type: flex);
    width: 100%;
    height: 100%;
    border: 1px solid $primary-text-color;
    border-radius: 50%;
    background-color: $primary-background-color;
    transition: background-color $primary-animation, border-color $primary-animation;

    &:hover,
    &:focus {
        background-color: $primary-accent-color;
        border-color: transparent;
    }
}

.socials__icon {
    transition: fill $primary-animation;

    .socials__link:hover &,
    .socials__link:focus & {
        fill: $primary-background-color;
    }
}